body {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 35vh;
}

img{
  border-radius: 10px;
}

.App{
  padding: 16px;
  border-radius: 20px;
  background-color: #D9D9D9;
  line-height: 150%;
  font-weight: 400;
  font-size: 18px;
  color: black;
  font-family: "Work Sans";
}

.card{
  display: flex;
  flex-direction: row;
}

.card-text{
  margin-left: 16px;
}